<header>
  <div class="header-wrapper">
    <a [routerLink]="'/'">FOYC</a>
      <h2>{{ appService.pageTitle$ | async }}</h2>
    <div>
      <p>{{ (authService.currentUser$ | async)?.userName }}</p>
      <button *ngIf="authService.currentUser$ | async" type="button" (click)="logout()">Log out</button>
      <a *ngIf="!(authService.currentUser$ | async)" (click)="login()">Log in</a>
      <a class="ml-10" *ngIf="!(authService.currentUser$ | async)" (click)="signup()">Sign up</a>
    </div>
  </div>

  <div>
  </div>
</header>
