<form [formGroup]="form"
      (ngSubmit)="formSubmit.emit(form.value)">

  <div class="form-group">
    <label for="username">Username</label>
    <input type="text"
           id="username"
           formControlName="username" />
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password"
           id="password"
           formControlName="password" />
  </div>

  <div class="buttons">
    <button type="submit">{{ submitButtonText }}</button>
    <button type="button"
            (click)="cancel.emit()">Cancel</button>
  </div>
</form>
