@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: 'Lato', sans-serif;
  height: 100vh;
}

a {
  color: #0052cc;
  text-decoration: underline;
}

input,
select {
  height: 20px;
  border-radius: 5px;
  border: 1px solid grey;

  &:focus {
    outline: none;
  }
}

* {
  box-sizing: border-box;
  border: none;
  background: none;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  label {
    margin: 0 5px;
  }
}

.ml-10 {
  margin-left: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.d-flex {
  display: flex;
}

button {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
